@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15vh; 
}
*[center] {
    display: flex;
    justify-content: center;
}
#warning {
    color: rgb(164, 0, 0);
    font-style: italic;

}
input {
    padding: 5vh;
    font-size: 15vh;
    border: none;
}